body {
    background-color: aquamarine;
    text-align:center;
}

main {
    margin-right: 20px;
    margin-left: 20px;
    background-color: lightcyan;
}

h1 {
    text-align: center;
    color: cornflowerblue;
}

h2{
    text-align:center
}

div {
    padding : 20px 0
}

nav {
    background-color: cornflowerblue;
    padding : 10px
}

nav ul {
    list-style-type: none;
    
    margin: 0;
}

nav li {
    display : inline;
    margin-right: 25px;
    
}

nav a {
    color : white;
text-decoration: none;
    font-size: 1.5em;

}

nav a:hover {
    color : pink;
    /* text-decoration: none; */
  

}


/* p {
    text-align: center;
} */

img {
    
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        
}
